VITE_SUPABASE_URL=https://pylzpidumnhbrbougfhb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5bHpwaWR1bW5oYnJib3VnZmhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk0MTA4NTcsImV4cCI6MjA3NDk4Njg1N30.cfBLz8tFZz-Rw4aCrgLOym_nRAn4epy-UPJbVIOH19Q
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5bHpwaWR1bW5oYnJib3VnZmhiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTQxMDg1NywiZXhwIjoyMDc0OTg2ODU3fQ.rD8E7wbSvDpFqQPHtHktT1xRWad2-XdpRelqAJIk0fo